:root {
  --cyan: #0891b2;
  --stone: #e2e8f0;
}

body {
  display: grid;
  grid-template: 200px 3fr / 1fr 5fr;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.side-bar, .main-content {
  padding: 10px;
}

/* sidebar */

.side-bar {
  background-color: var(--cyan);
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: auto auto auto;
  align-content: start;
  row-gap: 40px;
  color: white;
  padding: 20px;
  z-index: 1;
}

.dashboard-nav, .primary-nav, .secondary-nav {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 10px;
  row-gap: 15px;
  align-items: center;
  justify-items: start;
  align-content: start;
  font-size: 16px;
}

.primary-nav img, .secondary-nav img {
  width: 25px;
  justify-self: center;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(177deg) brightness(117%) contrast(101%);
}

.dashboard-nav img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(177deg) brightness(117%) contrast(101%);
}

.side-bar h4, .side-bar h1 {
  margin: 0px;
}

.side-bar h1 {
  font-size: 30px;
}
 
/* Header */

.header {
  display: grid;
  gap: 10px;
  padding: 8px 30px;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.9);
}

/* Top header */

.top-header {
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  gap: 30px;
  background-color: white;
  align-items: center;
  justify-items: end;
}

.top-header img {
  width: 30px;
}

.top-header .profile-image {
  border-radius: 100%;
  width: 60px;
}

.search-bar {
  background-color: var(--stone);
  border-radius: 50px;
  justify-self: start;
  width: 75%;
  height: 30px;
}

/* Bottom header */

.bottom-header {
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  gap: 20px;
  align-items: center;
  background-color: white;
}

.bottom-header .profile-image {
  border-radius: 100%;
  width: 80px;
}

.bottom-header h2, .bottom-header p {
  margin: 0px;
  padding: 2px;
}

.bottom-header button {
  padding: 10px 30px;
  border-radius: 50px;
  border-style: none;
  background-color: var(--cyan);
  color: white;
  font-size: 16px;
}

/* Main Content  */

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  background-color: var(--stone);
}

.your-projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px repeat(3, 1fr);
  gap: 10px;
}

.project-title {
  max-height: min-content;
  grid-column: 1 / 3;
  align-self: center;
}

section {
  background-color: yellowgreen;
  padding: 20px;
}