body {
  display: grid;
  grid-template: 1fr 3fr / 1fr 5fr;
}

.side-bar, .header, .main-content {
  padding: 20px;
}

.side-bar {
  background-color: blueviolet;
  grid-row: 1 / 3;
}

.header {
  background-color: pink;
  display: grid;
  gap: 10px;
}

.top-header {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 10px;
  background-color: white;
  align-items: center;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.bottom-header {
  display: grid;
  grid-template-columns: auto 1fr repeat(3, auto);
  gap: 10px;
  align-items: center;
  background-color: white;
}

.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.your-projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40px repeat(3, 1fr);
  gap: 10px;
}

.project-title {
  max-height: min-content;
  grid-column: 1 / 3;
  align-self: center;
}

section {
  background-color: yellowgreen;
  padding: 20px;
}